PyPDF2
pypdf
langchain
langchain_experimental
langchain_openai
langchain_text_splitters
langchain_community 
langchain-huggingface
sentence-transformers
faiss-cpu
chromadb
sentence-transformers
openai
azure-identity
numpy
pandas
scikit-learn
python-dotenv
tqdm